* {
  box-sizing: border-box;
}

:root {
  --main-color: #7616f4;
  --main-accent: #f5a02f;
  --dark-text: #1a0536;
  --background-color: #F9F9F9;
  /* rgb(233, 230, 230) */
}

body, html, h1, h2, h3, h4, p, button {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background-color: var(--background-color);
  color: var(--dark-text);
  font-size: 12px;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}


/***********/
/* HEADER */
/***********/

.header--nav {
  position: fixed;
  top: 0;
  background-color: var(--background-color);
  width: 100%;
  height: 6vh;
  box-shadow: 1px 3px 2px -2px var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.nav--link {
  text-decoration: none;
  margin-left: 7vw;
  font-size: 1.25rem;
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  letter-spacing: 0.25rem;
}

.nav--link:visited {
  color: var(--dark-text);
}

.nav--link:active {
  color: var(--main-accent);
}

.nav--link:hover:not(.-home, .-resume) {
  box-shadow: 0px 2px var(--main-accent);
}

.nav--link.-home {
  margin-right: auto;
  font-size: 1.75rem !important;
}

.header--home-char:hover{
  color: var(--main-accent);
}

.nav--link.-resume {
  padding: 3px 10px;
  margin-right: 7vw;
  color: var(--dark-text);
  border: solid 2px var(--main-accent);
  border-radius: 15px;
  background-color: #f59f2f34;
}

.nav--link.-resume:hover {
  background-color: var(--main-accent);
}


/********/
/* HERO */
/********/

.hero {
  background-image: url(./assets/man-on-computer.png);
  background-position: 90% 50%;
  background-repeat: no-repeat;
  height: 100vh;
}

.hero--title-section {
  position: fixed;
  z-index: -1;
  padding-top: 20vh;
}

.hero--title-section-hidden {
  opacity: 100%;
}

.hero--name {
  margin-left: 8vw;
  font-size: 6rem;
}

.hero--introduction {
  color: var(--main-accent);
  font-size: 1.35rem;
  letter-spacing: 0.3rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-left: 8vw;
}

.hero--description {
  font-size: 1.6rem;
  margin-top: 5vh;
  width: 45vh;
  line-height: 150%;
  letter-spacing: -0.05rem;
  margin-left: 8vw;
}

.hero--underline {
  width: 75%;
  margin-left: 4vw;
  }

.hero--wave {
  width: 100vw;
  position: absolute;
  bottom: 0;
  z-index: -1;
}


/*********/
/* ABOUT */
/*********/

.about {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15vw;
  color: var(--background-color);
  height: 50vh;

  background: linear-gradient(var(--main-color), #6a14dc, var(--main-color), #842df5);
}

.about--text {
  font-size: 1.5rem;
  margin: 5vh 5vw;
  font-family: 'Lato', sans-serif;
  letter-spacing: -0.01rem;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.about--title {
  margin-top: 5vh;
}

.skills {
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skills > h1 {
  color: var(--main-color);
}

.skills--icon {
  height: 100px;
  width: 100px;
  margin: 20px 40px;
}


/************/
/* PROJECTS */
/************/

.projects, .projects--container, .projects--project{
  display: flex;
  align-items: center;
}

.projects {
  padding-top: 10vh;
  min-height: 100vh;
  background: var(--main-accent);
  color: var(--dark-text);
  flex-direction: column;
}

.projects--title {
  margin-bottom: 15vh;
}

.projects--container {
  justify-content: center;
}

.projects--project {
  flex-direction: column;
  border-radius: 40px;
  padding: 20px;
  text-align: center;
  width: 350px;
  height: 500px;
  background-color: var(--background-color);
  margin: 0px 40px;
  font-size: 2rem;
  cursor: pointer;

  transition: box-shadow 250ms, transform 250ms;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 12px -6px rgba(0,0,0,0.11); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 12px -6px rgba(0,0,0,0.11);
}

.projects--project:hover {
  transform: scaleX(1.01) scaleY(1.01);

  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 26px 7px rgba(0,0,0,0.5); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 26px 7px rgba(0,0,0,0.5);

}

.projects--project > p {
  margin-top: 20%;
  font-size: 1.5rem;
}


/***********/
/* CONTACT */
/***********/

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact--title {
  margin-top: 50px;
  margin-bottom: 20px;
  color: var(--main-color);
}

.contact--subtitle {
  font-size: 2rem;
  margin-bottom: 75px;
}

.contact--subtitle > a {
  border-bottom: 2px solid #f59f2f77;
}

.contact--subtitle > a:hover {
  border-bottom: 2px solid var(--main-accent);
  cursor: pointer;
}

.contact--form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact--form-input {
  width: 20vw;
  height: 3vh;
  margin-right: 1vw;
  padding: 20px;
  border: 2px solid var(--background-color);
  transition: border 500ms;
  border-radius: 10px;
  background-color: rgb(233, 230, 230);
  font-family: "Ubuntu", sans-serif;
  font-size: 1.25rem;
  outline-color: var(--main-color);
}

.contact--form-input:hover {
  border: 2px solid #7616f44f;
}

.contact--form-input.-message {
  width: 41vw;
  height: 18vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  resize: none;
}

.contact--form-button {
  border: none;
  border-radius: 10px;
  background-color: var(--main-color);
  color: var(--background-color);
  padding: 10px;
  height: 50px;
  width: 200px;
  margin-bottom: 10vh;
  cursor: pointer;
  font-size: 1.25rem;
  font-family: "Ubuntu", sans-serif;
}


/**********/
/* FOOTER */
/**********/

.footer {
  background-color: var(--main-color);
  height: 10vh;
}











  /**********/
 /*  TEMP  */
/**********/


.line {
  background-color: var(--main-color);
  width: 150px;
  height: 4px;
}

.skills--icon:hover {
  margin-bottom: 10px;
}