* {
  box-sizing: border-box;
}

body, html, h1, p, button {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* HEADER */

.header--nav {
  position: fixed;
  transition: 0.3s linear;
  top: 0;
  background-color: red;
  width: 100%;
}

.header--nav.hidden {
  top: -40px;
}

/* TEMP */

section {
  height: 100vh;
}